<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, intial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Books & Authors</title>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'books_authors_app/css/style.css' %}">
      </head>
    <body>
        <div class=display_container>
            <h1>{{book_page.title}}</h1>
            <h2>Id: {{book_page.id}}</h2>
        </div>
        


    </body>